@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-cream text-brand-dark font-sans antialiased;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c59d5f;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a38048;
}
